<?php
// Pusher 認証情報
// 本番環境ではこのファイルを env.php にリネームしてキーを設定してください
$PUSHER_APP_ID = 'YOUR_PUSHER_APP_ID';
$PUSHER_KEY    = 'YOUR_PUSHER_APP_KEY';
$PUSHER_SECRET = 'YOUR_PUSHER_SECRET';
$PUSHER_CLUSTER= 'ap3';

// HMAC トークン署名用の秘密鍵
// 以下のコマンドで安全な鍵を生成できます:
//   php -r "echo bin2hex(random_bytes(32));"
$HMAC_SECRET   = 'YOUR_HMAC_SECRET_KEY';
